{{#if logged_in}}
<div class="card" data-willId="{{willData.id}}">
    
    <div class="text-center">
        <h2 class="card-header">
            {{title}}
        </h2>
        <p>
            {{description}}
        </p>
        <p>
            Created by {{user.name}} on {{format_date date_created}}
        </p>
        <div>{{testval}}</div>
        {{!-- {{#if items.length}} --}}
        {{will.items}}
      


        <div>title is {{title}}</div>
        <div>{{date_created}}</div>
        <div>
            {{#each itemData}}
                <div style="display: flex;">
                    <div>{{this.content}}</div>
                    <div>{{this.createdAt}}</div>
                </div>
            {{/each}}
        </div>
        {{!-- {{>items}} --}}
        {{!-- {{/each}} --}}
        {{!-- {{/if}} --}}
  

    </div>
</div>
<script src="/js/logout.js"></script>
{{!-- <script src="/js/items.js"></script> --}}
{{/if}}
